body{
    /*color del fondo*/
    background-color: bisque;
}
h1{
    /*tamaño de la letra*/
    font-size: 40px;
    /*texto centrado*/
    text-align: center;
}
.titulos{
    font-size: 25px;
    /*letra en negrita*/
    font-weight: bold;
    /*margen exterior inferior*/
    margin-bottom: 4px;
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sug{
    text-align: center;
}
#tabla{
    background-color:rgb(109, 198, 201);
    /*ancho del elemento*/
    width: 1000px;
    /*margen exterior superior*/
    margin-top: 10px;
    /*margen exterior izquierdo*/
    margin-left:auto;
    /*margen exterior derecgi*/
    margin-right:auto;
    font-size:20px;
    text-align: center;
    /*efecto de sombra*/
    box-shadow: 7px 4px 4px rgb(78, 72, 78);
    /*especifica el tipo de cursor*/
    cursor:default;
    /*permite cambiar valores de una propiedad durante un tiempo determinado*/
    transition:all .9s ease;
}
a{
    display: block;
    margin: 50px auto;
    text-align: center;
}
.error{
    color:red;
}
.ocultar{
    display: none;
}
.mostrar{
    display: inline;
}
#sugerencias{
    color:rgb(168, 1, 1);
}